const mysql = require('mysql');
let successfulConnection = false;
const connection = mysql.createConnection({
  host : '',
  user: '',
  password: '',
  database: ''
});

connection.connect( err => {
  if ( err ) {
    console.error('Error connecting: ' + err.stack);
  } else {
    console.log('Connected as id ' + connection.threadId);
    successfulConnection = true;
  }
});

exports = successfulConnection ? connection : null;
